.linear-gradient {
    background-image: linear-gradient(to top, $action, $secundary);
    width: 100%;
}

.animate-big {
    width: 80%;
    height: 80%;
    transition: all 2s;

    &:hover {
        height: 100%;
        width: 100%;
    }
}

.img-large {
    display: block;
    margin: 0px auto;
}

.rounded {
    border-radius: 20%;
}