/*colores*/
$primary: #FCF8E8;
$secundary: #f8c26b;
$violet: #4D4C7D;
$bac-blue: #541690;
$action: #721475;
$text-color: #6A67CE;
$footer: #121e23;
$subtitulo: #5e5e5e;
$text-blue: #124265;
$iconos: #f500a8;

/*tamaño*/
$large: 6em;
$medium: 2.5em;
$small: 2em;
$med-small: 1em;
$min: 0.5em;

/*fuentes*/
$font-principal: 'barlow', 'san-serif';
$font-title: 'Roboto Slab', serif;      