/*colores*/
$primary: #fed8a0;
$secundary: #ba85fb;
$violet: #371B58;
$bac-blue: #1c6ea4;
$action: #721475;
$text-color: #083d77;
$footer: #121e23;
$subtitulo: #5e5e5e;
$text-blue: #124265;

/*tamaño*/
$large: 6em;
$medium: 2.5em;
$small: 2em;
$min: 1em;

/*fuentes*/
$font-principal: 'barlow', 'san-serif';
$font-title: 'Roboto Slab', serif;