@charset "UTF-8";
/*colores*/
/*tamaño*/
/*fuentes*/
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&family=Roboto+Slab:wght@300;500&display=swap");
*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  width: 100%;
  height: 100vh;
  font-size: 62.5%; }

body {
  font-family: "barlow", "san-serif"; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  font-family: "Roboto Slab", serif;
  color: #083d77; }

img {
  width: 100%; }

.boton {
  color: #f0dede;
  font-size: 15px;
  line-height: 15px;
  padding: 10px;
  border-radius: 5px;
  font-family: "Roboto Slab", serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-image: linear-gradient(to right, #301ca4 0%, #2388cb 50%, #7c347c 100%);
  box-shadow: black 5px 5px 15px 5px;
  border: 1px solid #1c6ea4;
  display: inline-block; }
  .boton:hover {
    background: #1c6ea4; }
  .boton:active {
    background: #721475; }

.scrollup {
  border: 2px solid #ececec;
  bottom: 35px;
  color: #0cbb38;
  font-size: 26px;
  height: 40px;
  line-height: 1.3;
  position: fixed;
  right: 25px;
  text-align: center;
  width: 40px;
  z-index: 1000; }

.linear-gradient {
  background-image: linear-gradient(to top, #6c31af, #fed8a0);
  width: 100%; }

.animate-big {
  width: 800px;
  height: 200px;
  transition: all 1s; }
  .animate-big:hover {
    height: 300px;
    width: 800px; }

.img-large {
  display: block;
  margin: 0px auto; }

.rounded {
  border-radius: 20%; }

header {
  transition: all 0.5s;
  background: #fed8a0;
  padding: 15px 10px;
  border-bottom: 1px solid #124265; }
  header.header-scrolled {
    border-color: #fff;
    box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08); }
  header img {
    max-height: 130px;
    align-items: center; }

.navbar {
  margin: 0;
  padding: 20px; }
  @media screen and (min-width: 768px) {
    .navbar ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
      align-items: center; } }
  .navbar li {
    position: relative; }
  .navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 1em;
    text-decoration: none;
    color: #124265;
    white-space: nowrap;
    transition: 0.3s;
    font-family: "barlow", "san-serif"; }
    .navbar a:hover {
      color: #ba85fb;
      font-size: 2.5rem;
      text-decoration: none; }

.carousel {
  width: 100%;
  padding-top: 20px;
  min-height: 350px; }

body {
  background-color: #fed8a0;
  width: 100%;
  height: 100vh; }
  body h2 {
    color: #1c6ea4;
    font-size: 2.5em;
    font-family: "Roboto Slab", serif;
    padding: 20px; }
  body h5 {
    color: #124265;
    font-size: 2.5em;
    padding: 10px; }
  body li {
    font-size: 2em;
    margin: 5px;
    font-family: "barlow", "san-serif"; }
  body label {
    font-size: 2em; }
  body legend {
    font-size: 40px;
    color: black; }
  body > input {
    font-size: 2.5em;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 20px 47%; }
  body form > div > input {
    margin: 10px;
    font-size: 2em;
    padding: 5px; }
  body p {
    line-height: 30px;
    font-family: "barlow", "san-serif";
    font-size: 2em;
    text-align: center;
    text-shadow: white;
    color: #124265; }

#bienvenida {
  color: #092e5e;
  text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  color: #052a56;
  font-size: 6em; }

.liAlquileres {
  font-size: 2em;
  background-color: #ba85fb; }

section {
  background-color: #fed8a0;
  width: 100%; }

article {
  display: flex;
  align-items: center;
  justify-content: center; }
  article > p {
    color: whitesmoke;
    font-size: 20px; }

table {
  margin: auto;
  text-align: center; }
  table th {
    font-size: 2.5em;
    color: #124265; }
  table td {
    font-size: 2em;
    color: whitesmoke; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense; }

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #CCC;
  border-radius: 8px;
  box-shadow: 3px 3px 2px black; }
  .grid-item:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
    cursor: pointer; }

#hero {
  width: 100%; }
  #hero .container {
    padding-top: 40px;
    margin-bottom: 50px; }
  #hero h1 {
    margin: 0;
    font-size: 56px;
    font-weight: 700;
    line-height: 72px;
    color: #124265;
    font-family: "Roboto Slab", serif;
    font-size: 28px;
    line-height: 36px; }
  #hero h2 {
    color: #5e5e5e;
    margin: 10px 0 0 0;
    font-size: 22px;
    font-size: 18px;
    line-height: 24px; }
  #hero .btn-get-started:hover {
    background: #1c6ea4; }
  #hero .icon-boxes {
    margin-top: 50px; }
  #hero .icon-box {
    padding: 50px 30px;
    position: relative;
    background: #ba85fb;
    box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1; }
    #hero .icon-box .title {
      font-weight: 700;
      margin-bottom: 15px;
      font-size: 18px; }
      #hero .icon-box .title a {
        color: #124265;
        transition: 0.3s; }
    #hero .icon-box .description {
      font-size: 15px;
      line-height: 28px;
      margin-bottom: 0; }
    #hero .icon-box:hover {
      transform: scale(1.08); }
      #hero .icon-box:hover .title a {
        color: #1c6ea4; }

footer {
  background: #121e23;
  color: #ba85fb;
  text-align: center;
  padding: 20px;
  font-size: 2.5em; }
