.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #CCC;
  border-radius: 8px;
  box-shadow: 3px 3px 2px black;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
    cursor: pointer;

    &:before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 1;
    }

    .grid-info {
      opacity: 1;
    }
  }

  &:before {
    content: "";
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
  }

  .grid-info {
    opacity: 0;
    position: absolute;
    left: 30px;
    right: 30px;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;

    h4 {
      font-size: 15px;
      color: black;
      font-weight: 600;
    }

    li {
      color: #062b3c;
      font-size: 14px;
      text-transform: uppercase;
    }
  }
}