header {
    transition: all 0.5s;
    background: $primary;
    padding: 15px 10px;
    border-bottom: 1px solid $text-blue;

    &.header-scrolled {
        border-color: #fff;
        box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
    }

    img {
        max-height: 130px;
        align-items: center;

    }
}

.navbar {
    margin: 0;
    padding: 20px;

    @media screen and (min-width: 768px) {
        ul {
            margin: 0;
            padding: 0;
            display: flex;
            list-style: none;
            align-items: center;
        }
    }

    li {
        position: relative;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0 10px 30px;
        font-size: 1em;
        text-decoration: none;
        color: $text-blue;
        white-space: nowrap;
        transition: 0.3s;
        font-family: $font-principal;

        &:hover {
            color: $iconos;
            font-size: 2.5rem;
            text-decoration: none;
        }
    }
    span {
        font-size: $small;
    }
}